# You need to make a Lulu account to use this script.
LULU_USERNAME=user@example.com
LULU_PASSWORD=hunter1

# Book generation options
BOOK_PATH=/home/john/book.pdf
BOOK_AUTHOR="John Smith"
BOOK_TITLE="How to Read"
BOOK_SUBTITLE="A Guide for an Unclear Audience"
COVER_BG_COLOR=ffffff
COVER_FG_COLOR=000000

# This is used for billing and shipping only
NAME_FIRST=John
NAME_LAST=Smith
COUNTRY="United States of America"
STATE=Chicago
CITY=Illinois
ZIP=12345
PHONE=555-555-5555
STREET_ADDRESS="123 Main Street"

CC_NUM=1234123412341234
CC_EXP=1225
CC_CVV=123
CC_NAME="John Smith"

